.disclaimer {
    padding-left: 335px;
    background: transparent;

    .page-wrap {
        margin: 0;
        padding: 0 30px 0 0;

        @include breakpoint($SIZE_TABLET_SMALL){
            padding: 0 15px;
        }
    }

    @include breakpoint($SIZE_TABLET_SMALL){
        padding-left: 0;
    }
}