$SIZE_DESKTOP_SMALL: 1084px;
$SIZE_TABLET: 768px;
$SIZE_TABLET_SMALL: 725px;
$SIZE_MOBILE: 600px;
$SIZE_MOBILE_SMALL: 350px;

/* ---- TYPOGRAPHY ----- */
$BASE-FONT-SIZE: 14px;

/* ------ COLORS ------- */
$gradient-tilt: 90deg;

$color-gradient-orange: #ff8929;
$color-gradient-red: #ce5951;

