.big-grid-nav {
    max-width: 927px;
    @extend %clearfix;

    div {
        width: 45%;
        margin-bottom: 30px;
        float: left;

        @include breakpoint($SIZE_TABLET_SMALL){
            width: 100%;
            max-width: 400px;
            margin: 0 auto 30px;
            float: none;
        }

        &:nth-child(odd) {
            margin-right: 10%;

            @include breakpoint($SIZE_TABLET_SMALL){
                margin-right: auto;
            }
        }
    }

    a {
        display: block;
        margin-bottom: 15px;
        padding-top: 68%;
        background: url("http://placehold.it/405x260") no-repeat;
        background-size: contain;
        font-size: rem(20px);
    }

    p {
        margin: 0;
    }

    &__decision {
        text-align: center;

        div {
            &:first-child {
                position: relative;

                &:after {
                    content: "OR";
                    position: absolute;
                    right: -10%;
                    top: 50%;
                    margin: -35px -15px 0 0;
                    font-size: rem(20px);

                    @include breakpoint($SIZE_TABLET){
                        font-size: rem(12px);
                        margin: -30px -10px 0 0;
                    }

                    @include breakpoint($SIZE_TABLET_SMALL){
                        display: none;
                    }
                }
            }
        }
    }
}