//primary
$color-orange: #ff7404;
$color-blue: #2395d6;
$color-white: #fff;
$color-grey-light: #f6fafc;
$color-grey: #eef3f6;
$color-grey-med: #ccd6dd;
$color-grey-dark: #6f828e;
$color-black: #3E4956;

//greys
$color-grey-2: #e2e9ed;
$color-grey-3: #d8e0e5;
$color-grey-med-2: #bfccd4;
$color-grey-med-3: #9daeb8;
$color-grey-dark-2: #596974;
$color-black-dark: #27303d;

//money status
$color-green: #58b467;
$color-red: #c63c32;

//alerts
$color-alert-yellow: #f1dc8f;