//Add this to head: <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
// 300 = light, 400 = normal, 600 = semi-bold, 700 = bold

body {
    font-family: "Open Sans", sans-serif;
    color: $color-black;
    line-height: rem(21px);
    -webkit-font-smoothing: antialiased;
    
    %inverse & {
        color: $color-white;
    }
}

%inverse {
    //for all on dark backgrounds.
    color: $color-white;
}

%roboto-slab {
    font-family: "Roboto Slab", serif;
}

html {
    font-size: $BASE-FONT-SIZE;
}

input, select, textarea, button{
    font-family:inherit;
    font-size: inherit;
    line-height: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 12px 0;
    font-weight: 600;
    color: $color-orange;

    %inverse & {
        color: $color-white;
    }
}

h1 {
    font-size: rem(32px);
    line-height: rem(37px);
    font-weight: 300;
    color: $color-orange;
    @extend %roboto-slab;

    @include breakpoint($SIZE_TABLET){
        font-size: rem(27px);
        line-height: rem(32px);
    }
}

h2 {
    font-size: rem(26px);
    line-height: rem(31px);
    font-weight: 400;
}

h3 {
    font-size: rem(20px);
    line-height: rem(25px);
}

h4 {
    font-size: rem(18px);
    line-height: rem(25px);
}

h5 {
    font-size: rem(16px);
    line-height: rem(23px);
}

h6 {
    font-size: rem(16px);
    line-height: rem(23px);
    text-transform: uppercase;
}

p {
    margin: 0 0 25px 0;
    padding: 0;
    font-size: rem(16px);
    line-height: rem(26px);
}

a {
    color: $color-blue;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    %inverse & {
        color: $color-white;
        text-decoration: underline;
        cursor: pointer;
    }
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

blockquote {
    margin-bottom: 12px;
    padding-left: 15px;
    border-left: 2px solid $color-orange;
    font-size: rem(15px);
    line-height: rem(25px);
    font-style: italic;
    color: $color-grey-med-3;
}

hr {
    height: 1px;
    margin: 35px 0;
    background-color: $color-grey-med;
    border: 0;
}

ul {

    li {
        font-size: rem(16px);
    }
    
    &.bullet {
        margin-bottom: 30px;

        li {
            margin: 0 0 5px 15px;
            position: relative;
            &:before {
                position: absolute;
                width: 4px;
                height: 4px;
                top: 9px;
                left: -12px;
                border-radius: 50%;
                background-color: $color-black;
                content: "";
            }

            li {
                margin-left: 40px;
                &:before {
                    width: 5px;
                    height: 5px;
                    top: 8px;
                    border: solid 1px $color-black;
                    background-color: transparent;
                }
            }
        }
    }
}

ol {
    margin: 0 0 20px 20px;
    list-style-type: decimal;

    li {
        margin-bottom: 3px;
        padding-left: 3px;
        font-size: rem(16px);
    }
}

code {
    padding: 2px 5px;
    background: $color-grey-2;
    border-radius: 3px;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

pre {
    margin-bottom: 40px;
    code {
        padding: 0;
        background: transparent;
    }
}